<div id="placeQuestionText">
    {{question}}
</div>
{{#if questionImg}}
    <img id="placeImage" src={{questionImg}} />
{{/if}}
<ul>
    {{#each answers}}
        <li class="answ">

        </li>
    {{/each}}
</ul>
<div id="skip">
    Пропустить вопрос
</div>