@import "var.less";
@import "mix.less";

html{
  background-color: gray;
}
.page {
  width:1000px;
  margin:0 auto;
  background-color: whitesmoke;
}
.header {
  display:block;
  background-color:#44d1ff;
  border-bottom:2px solid #3bb5ff;
  height:45px;
  padding:10px;
  text-align: center;
  font-size: 30px;
}
#leftBlock,#Question{
  position:relative;
  float:left;
  width:600px;
  margin:20px 0px 20px 50px;
  padding:10px;
}
.Question{
  display:none;
}
.contentHead{
  .contentHeadMix;
  padding:10px;
}
.listTest{

  ul{
    list-style: none;

    li{
      .border(@border-col,@border-rad);
      margin:7px 0;
      padding:10px;

      &:hover{
        .hoverMix(@hover-background-col,@hover-border-col);
      }
    }
  }
}
.textQuest{
  .border(@border-col,@border-rad);
  margin:15px 0 0 20px;
  padding:15px;

  ul{
    list-style: none;
    margin:10px;
    padding:0;

    li{
      .border(@border-col,@border-rad);
      margin:5px;
      padding:5px;

      &:hover{
        .hoverMix(@hover-background-col,@hover-border-col);
      }
    }
  }
}
#placeImage{
  margin:10px 0;
  border-radius:@border-rad;
}
#skip{
  .contentHeadMix;
  padding:5px;
  margin-left: 350px;
  text-align: center;

  &:hover{
    .hoverMix(gray, #6a6a6a);
  }
}
.rightBlock{
  position:relative;
  float:right;
  width:250px;
  margin:20px 30px 20px 0;
  padding:10px;
}
.info{
  .border(@border-col,@border-rad);
  margin:15px 0 0 20px;
  padding:15px;
}
#alertWindow{
  display:none;
  .border(@border-col,@border-rad);
  background-color: white;
  position:fixed;
  top:35%;
  left:50%;
  margin-left:-200px;
  width:400px;
  padding:10px 20px;

  span{
    display: block;
    margin-bottom: 10px;
  }
  div{
    display: inline;
    cursor: pointer;
    color:red;
  }
}
#alertWindowBack{
  display:none;
  height: 100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color: black;
  opacity:0.7;
}
.footer{
  clear:both;
  display:block;
  background-color: #44d1ff;
  border-top:2px solid #3bb5ff;
  padding:10px;
}