html{
  background-color: gray;
}
.page {
  width:1000px;
  margin:0 auto;
  background-color: whitesmoke;
}
.header {
  display:block;
  background-color:#44d1ff;
  border-bottom:2px solid #3bb5ff;
  height:45px;
  padding:10px;
  text-align: center;
  font-size: 30px;
}
#leftBlock,#Question{
  position:relative;
  float:left;
  width:600px;
  margin:20px 0px 20px 50px;
  padding:10px;
}
.Question{
  display:none;
}
.contentHead{
  background-color: lightgray;
  border:1px solid #aaaaaa;
  border-bottom:2px solid #aaaaaa;
  border-radius:7px;
  padding:10px;
}

.listTest{

  ul{
    list-style: none;

    li{
      border:1px solid lightgray;
      border-bottom: 2px solid lightgray;
      border-radius:7px;
      margin:7px 0;
      padding:10px;

      &:hover{
        background-color: #baeef6;
        border:1px solid #afe3eb;
        border-bottom: 2px solid #afe3eb;
        cursor: pointer;
      }
    }
  }
}
.textQuest{
  border:1px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-radius:7px;
  margin:15px 0 0 20px;
  padding:15px;

  ul{
    list-style: none;
    margin:10px;
    padding:0;

    li{
      border:1px solid lightgray;
      border-bottom: 2px solid lightgray;
      border-radius:7px;
      margin:5px;
      padding:5px;

      &:hover{
        background-color: #baeef6;
        border:1px solid #afe3eb;
        border-bottom: 2px solid #afe3eb;
        cursor: pointer;
      }
    }
  }
}
.rightBlock{
  position:relative;
  float:right;
  width:250px;
  margin:20px 30px 20px 0;
  padding:10px;
}
.info{
  border:1px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-radius:7px;
  margin:15px 0 0 20px;
  padding:15px;
}
.footer{
  clear:both;
  display:block;
  background-color: #44d1ff;
  border-top:2px solid #3bb5ff;
  padding:10px;
}