.border(@col,@rad){
  border:1px solid @col;
  border-bottom: 2px solid @col;
  border-radius:@rad;
}
.hoverMix(@bg-col,@br-col){
  background-color: @bg-col;
  .border(@br-col,7);
  cursor: pointer;
}
.contentHeadMix(@bg-col,@rad,@size,@pad,@br-col){
  padding:@pad;
  background-color: @bg-col;
  .border(@br-col,@rad);
  font-size: @size;
  font-weight: bold;
}
.button(@bg-col,@br-rad,@mrg,@br-col,@h-col,@h-br-col){
  .contentHeadMix(@bg-col,@br-rad,16px,5px,@br-col);
  margin: @mrg;
  text-align: center;

  &:hover{
    .hoverMix(@h-col,@h-br-col);
  }
}
