.border(@col,@rad){
  border:1px solid @col;
  border-bottom: 2px solid @col;
  border-radius:@rad;
}

.hoverMix(@bg-col,@br-col){
  :hover{
    background-color: @bg-col;
    border:1px solid @br-coll;
    border-bottom: 2px solid @br-col;
    cursor: pointer;
  }
}